// @import '~bulma/sass/utilities/initial-variables'
// @import '~bulma'
@import 'WorkTypeColors'
@import 'mixins'
$thingToColor: 'border-color'
@keyframes rgbFade
  0%
    color: '#ff0000'
  32.9%
    color: '#ff0000'
  33%
    color: '#476fff'
  65.9%
    color: '#476fff'
  66%
    color: '#3abc3a'
  99.9%
    color: '#3abc3a'

@font-face
  font-family: 'Aktiv'
  src: url('../../static/fonts/AktivGrotesk.ttf')   format('truetype')

@font-face
  font-family: 'Haptik'
  src: url('../../static/fonts/GT-Haptik-Regular.ttf')   format('truetype')

@font-face
  font-family: 'Az-Regular'
  src: url('../../static/fonts/AkzidenzGrotesk-Regular.ttf')   format('truetype')

@font-face
  font-family: 'Az-Medium'
  src: url('../../static/fonts/AkzidenzGrotesk-Medium.ttf')   format('truetype')

@font-face
  font-family: 'Az-Bold'
  src: url('../../static/fonts/AkzidenzGrotesk-Bold.ttf')   format('truetype')

@font-face
  font-family: 'Az-Italic'
  src: url('../../static/fonts/AkzidenzGrotesk-Italic.ttf')   format('truetype')

@font-face
  font-family: 'Newzald'
  src: url('../../static/fonts/Newzald-Book.otf')   format('opentype')
  font-weight: normal!important

@font-face
  font-family: 'mtdbt2f'
  src: url('../../static/fonts/mtdbt2f-f.ttf')   format('truetype')
  src: url('../../static/fonts/mtdbt2f-f.woff')   format('woff')

@font-face
  font-family: 'Aktiv'
  src: url('../../static/fonts/AktivGrotesk.ttf')   format('truetype')

@font-face
  font-family: "Swiss Medium"
  src: url("/fonts/swiss-721-medium.woff") format("woff")
  src: url("/fonts/swiss-721-medium.ttf") format("truetype")

@font-face
  font-family: "Swiss Round"
  src: url("/fonts/swiss-721-bold-rounded.woff") format("woff")
  src: url("/fonts/swiss-721-bold-rounded.ttf") format("truetype")

@font-face
  font-family: "Swiss Extended"
  src: url("/fonts/swiss-721-extended.woff") format("woff")
  src: url("/fonts/swiss-721-extended.ttf") format("truetype")

@font-face
  font-family: "Swiss Outline"
  src: url("/fonts/swiss-721-outline.woff") format("woff")
  src: url("/fonts/swiss-721-outline.ttf") format("truetype")

@font-face
  font-family: "Swiss Thick"
  src: url("/fonts/swiss-721-thick.woff") format("woff")
  src: url("/fonts/swiss-721-thick.ttf") format("truetype")

$mainFont: "Swiss Medium"
$boldFont: 'Az-Medium'
$bookFont: "Swiss Medium"
$italicFont: 'Az-Italic'
$fadeRGB: rgbFade 3s linear infinite

html,body
  margin: 0
  padding: 0

html
  font-size: 12px

body
  font-family: $mainFont
  font-size: 1rem
  line-height: 1.25em
  color: black
b
  font-family: 'Az-Bold'

i
  font-family: 'Az-Italic'te
h1,h2,h3,h4,h5,h6
  padding: 0
  margin: 0
  font-family: Az-Bold
h1
  font-size: 4rem
  line-height: 4.5rem
  margin: 0
h2
  font-size: 2rem
  line-height: 2.5rem
h3
  font-size: 2rem
  line-height: 2rem
h4
  text-transform: uppercase
  letter-spacing: 3px
h5
  font-family: $bookFont
  font-size: 3rem
  line-height: 3.5rem
body h6
  font-family: $bookFont
  font-size: 2em
  line-height: 2.5rem
  margin: 0
  padding: 0

a
  color: #000000
  text-decoration: none

.h6
  font-family: $bookFont
  font-size: 2em
  line-height: 2.5rem
  margin: 0
  padding: 0

p
  margin: 1rem 0
  font-size: 1.5rem
  line-height: 1.75em
  font-family: $bookFont

span
  font-size: 1.5rem
  line-height: 1.7rem
.wrapper
  @include wrapper

@media(max-width:480px)
  body .navbar
    // width: 150px
    .nav-icon
      width: 9rem
      height: 9rem
      margin: 2rem
  body .homepage
    margin: 0
    .project-grid-large-thumbs
      display: grid
      grid-auto-flow: row dense
      grid-template-columns: repeat(8, 1fr)
      grid-auto-rows: minmax(3rem, auto)
      margin-right: 1rem
      margin-left: 10rem
      grid-gap: 2rem
      margin-left: 1rem
      margin-right: 1rem
      margin: auto 2rem
      .work-box
        padding: 1.5rem 0
        border: none
        border-width: 5px
        .type-label
          padding: 3px 7px

          font-size: 1.7rem
          display: none
        p
          font-size: 1.6rem
        a
          text-decoration: none
          color: black
          h2
            font-size: 1.7rem
            padding: 1rem 0 0
            line-height: 2.3rem
        &.no-image.no-iframe.no-html
          grid-row: span 1!important
        iframe
          pointer-events: none
        &.candusen-page
          //grid-row: span 4

        &.website
          //grid-row: span 6
        &.print, &.software, &.tape
          //grid-column: span 8
        iframe
          z-index: -1
  //grid-row: span 4
.homepage
  position: relative
  margin: 2rem 0
  .project-nav
    // position: fixed
    // width: 8rem
    margin-bottom: 3rem
    @include bp(lg)
      position: fixed
      top: 2.2rem
      right: 1rem
      width: calc(100vw - 3rem - 394px)
      text-align: center
      .filter-buttons
        align-items: center!important
        justify-content: center!important

    @include bp(xs)
      margin-left: 0
      text-align: center
      span.project-category, .filter-header
        font-size: 2rem
        line-height: 2.3rem
        margin-left: 0
        margin-bottom: 0

    margin-left: 1rem
    .filter-buttons
      display: flex
      flex-direction: row
      align-items: center
      justify-content: flex-start
      flex-wrap: wrap
      span:first-of-type
        margin-left: 0
      @include bp(xs)
        justify-content: center
        padding: 0 18%
        max-width: 800px
    .project-category
      cursor: pointer
      margin: 0 1rem
      text-align: center

  .project-grid-large-thumbs
    display: grid
    grid-auto-flow: row dense
    grid-template-columns: repeat(auto-fit, 4rem)
    grid-auto-rows: minmax(4rem, auto)
    margin-right: 1rem
    margin-left: 10rem
    grid-gap: 2rem
    .work-box
      grid-column: span 4
      border-color: transparent!important
      border-style: solid
      border-width: 2px
      border-radius: 4px
      display: inline-block
      padding: 1rem
      position: relative
      transition: .3s all linear
      display: grid
      grid-gap: 1rem 0
      grid-template-rows: 1fr auto
      grid-template-rows: minmax(24rem,1fr) auto
      align-items: stretch
      word-break: break-word
      a
        text-decoration: none
        color: black
      &.no-image.no-iframe.no-html
        grid-row: span 1!important
      &:hover
        h2
          text-decoration: underline
      p
        margin: 0
      h1 a
        display: block
        color: black
      iframe
        width: 100%
        //min-height: 400px
        z-index: 100
      .project-img
        width: 100%
        height: 0
        padding-bottom: 50%
        height: 100%
        padding-bottom: 0!important
        background-size: cover!important
        background-position: center!important
      // &:hover
        // border-width: 4px
      .type-label
        display: none
      .type-label
        position: absolute
        top: -1rem
        left: 1rem
        border-radius: 10px
        display: inline-block
        padding: 2px 4px
  @media(max-width: 480px)
    .project-nav
      .project-category
        padding: .5rem
        margin-right: 1rem
        text-transform: lowercase
        font-size: 1.7rem
        outline: none

.thumb-type-candusen-page
  grid-column: span 1

.project-grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-gap: 1rem 1rem
  padding: 0 1rem 0 1rem
  grid-auto-rows: calc( (100vw - 1rem - 3rem - (1rem * 11)) / 12)
  grid-auto-flow: row dense
  .thumb
    position: relative
    grid-column: span 2
    border-radius: 4%
    grid-row: span 2
    display: flex
    flex-direction: column
    padding: 1rem
    @include bp(md)
      grid-column: span 4
      grid-row: span 4
    @include bp(xs)
      grid-column: span 6
      grid-row: span 6
      &.thumb-client
        grid-column: span 6!important
        grid-row: span 6!important
      &.thumb-candusen
        grid-column: span 3!important
        grid-row: span 3!important
      &.thumb-website, &.thumb-software
        grid-column: span 6!important
        grid-row: span 6!important

    // transition: .3s all
    &:hover
      transform: scale(1.005)
      // box-shadow: 1px 1px 32px -18px black
    &.thumb-client
      grid-column: span 4
      grid-row: span 3
    &.thumb-candusen
      grid-column: span 1
      grid-row: span 1
      border: none
      padding: 0
      .thumb-image:after
        border-radius: 12%
    &.thumb-website, &.thumb-software
      grid-column: span 4
      grid-row: span 3
    .thumb-title
      display: block
      // position: absolute
      margin: .25rem 0px
      line-height: 1.1
      bottom: 100%
      backdrop-filter: reverse
      &.inline-text
        font-family: 'Swiss Thick'
        color: white
        z-index: 0
      // top: 100%
    .thumb-description
      position: absolute
      bottom: 0
      display: none
      opacity: 0
    .thumb-label
      font-size: .9rem
      letter-spacing: 2px
      text-transform: uppercase
      // position: absolute
          margin: 0;
      line-height: 1.4
      top: 100%
      left: 0
      font-family: 'Swiss Round'
    .thumb-image
      position: absolute
      z-index: -1
      width: 100%
      background-size: contain
      height: 100%
      top: 0
      left: 0




  .candusen-page
    .work-box, &.work-box
      grid-column: span 6
      //grid-row: span 6
      grid-row: span 1
      #{$thingToColor}: red
    .color, &.color
      background: red
  .client-site
    .work-box, &.work-box
      grid-column: span 8
      // grid-row: span 2
      #{$thingToColor}: #3abc3a
    .color, &.color
      background: #3abc3a
  .software
    .work-box, &.work-box
      grid-column: span 4
      grid-row: span 1
      #{$thingToColor}: #476fff
    .color, &.color
      background: #476fff
  .website
    .work-box, &.work-box
      grid-column: span 8
      // grid-row: span 2
      #{$thingToColor}: orange
    .color, &.color
      background: orange
  .print
    .work-box, &.work-box
      grid-column: span 8
      grid-row: span 1
      #{$thingToColor}: #ad54ff
    .color, &.color
      background: #ad54ff
  .essay
    .work-box, &.work-box
      grid-column: span 8
      grid-row: span 2
      #{$thingToColor}: yellow
    .color, &.color
      background: yellow

  .tape
    .work-box, &.work-box
      grid-column: span 8
      grid-row: span 2
      grid-row: span 1
      #{$thingToColor}: pink
    .color, &.color
      background: pink
.paper-page
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    z-index: -1
.paper-listing
  .paper-preview-link
    padding: .5em
    position: absolute
    z-index: 10
.work-page
    max-width: 1000px
    margin: 0 auto
    width: 90%
    .work-title
      padding-bottom: 1em
      // font-family: "Swiss Outline"
    .work-description
      font-family: "Swiss Extended"
      padding: 4rem 2rem 4rem 0
    p
      font-size: 2rem
      line-height: 1.3
      img
        margin: 0 auto
        max-width: 100%
        display: block

.paper-nav
  position: absolute
  bottom: 1.5rem
  left: 1.5rem
  z-index: 10
  .next, .previous
    width: 50px
    height: 50px
    display: inline-block
    margin: 0 1em
    cursor: pointer
    color: transparent
  .previous
    @include sprite(4)
    background-position: 57%
  .next
    @include sprite(5)
    background-position: 71.3%
.help-container
  position: absolute
  bottom: 1.5rem
  right: 1.5rem
  z-index: 10
  text-align: right
  .toggle
    cursor: pointer
  .help
    opacity: 0
    transition: opacity .2s
  &.active
    .help
      opacity: 1
  div
    margin: 1rem 0
  .arrows
    width: 40px
    vertical-align: text-bottom
    margin: 0 0.1em 0 0.4em
  .key
    border-radius: 20%
    border: solid black 1px
    // background: #476fff
    color: black
    padding: 1px 4px

.styleguide
  display: none
.spreadsheet
  // margin: 0 auto
  border-spacing: 0
  thead
    @extend h3
  td
    border: none!important
    padding: 0!important
    vertical-align: bottom

    &:nth-child(2), &:nth-child(3)
      @extend .h6
      margin: 0
      padding: 0
.canvasContainer
  height: 0
  padding-bottom: 100vh
  &:before, &:after
    z-index: -1
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  canvas
    position: absolute
    &.fullscreen
      z-index: 20
      background: white

.navbar
  background: transparent
  // position: fixed
  z-index: 26
  top: 0
  left: 0
  display: flex
  flex-direction: row
  align-items: center
  @include bp(xs)
    width: 100%
    justify-content: center
    margin: 1.3rem 0px
  .header
    margin: 0
  &.is-active
    .container
      opacity: 1
  .container
    opacity: 0
    margin-left: 3rem
  .nav-icon
    @include sprite(0)
    display: inline-block
    width: 7rem
    height: 7rem
    outline: none
    cursor: pointer
    margin-right: 2rem
    margin-left: 1rem
    margin-top: 1rem
.navbar-item
  padding: 0
  &:nth-child(1)
      color: red
  &:nth-child(2)
      color: red
      &:hover
        animation: $fadeRGB
  &:nth-child(3)
      color: #3abc3a
      &:hover
        animation: $fadeRGB
  &:nth-child(4)
      color: #476fff
      &:hover
        animation: $fadeRGB
  img
    max-height: none
    width: 138px
  &.active
    animation: $fadeRGB
    text-decoration: underline


// responsiveness
// +tablet-only
//   .blog-list-item .featured-thumbnail
//     flex-basis: 50%
//
// +mobile
//   .blog-list-item header
//     display: block
//   .blog-list-item .featured-thumbnail
//     text-align: center
//     max-width: 70%
//     margin: 0 0 1em
