.thumb
  &.thumb-website
    &:hover
      box-shadow: 1px 1px 32px -8px #1c981c
    border: solid 2px #1c981c
    .thumb-label
      color: #1c981c
  &.thumb-client
    &:hover
      box-shadow: 1px 1px 32px -8px #e4e830
    border: solid 2px #e4e830
    .thumb-label
      color: #e4e830
  &.thumb-mix
    &:hover
      box-shadow: 1px 1px 32px -8px rgb(238, 95, 235)
    border: solid 2px rgb(238, 95, 235)
    .thumb-label
      color: rgb(238, 95, 235)
  &.thumb-print
    &:hover
      box-shadow: 1px 1px 32px -8px #d40d2d
    border: solid 2px #d40d2d
    .thumb-label
      color: #d40d2d
  &.thumb-essay
    &:hover
      box-shadow: 1px 1px 32px -8px rgb(44, 40, 218)
    border: solid 2px rgb(44, 40, 218)
    .thumb-label
      color: rgb(44, 40, 218)
